/* You can add global styles to this file, and also import other style files */
:root {
    --color-blue: #5e14d5;
    --color-yellow: #d5bf14;
    --color-green: #2bd514;
}

* {
    margin: 0px;
    padding: 0px;
}