
<img class="carosel" src="assets/carosel/carosel.PNG" alt="">
<h3 class="header-left color-yellow">About</h3>
<div class="m-xy">
  <p>
    Magna culpa consectetur ut incididunt proident. Mollit sunt dolore
    adipisicing sint. Veniam tempor reprehenderit Lorem id esse cupidatat
    exercitation culpa nulla non pariatur officia. Nulla nulla sint proident
    officia Lorem occaecat eiusmod. Anim magna proident enim exercitation dolor
    minim reprehenderit ad duis ut sit voluptate. Enim proident commodo ex eu.
    Occaecat deserunt commodo ut incididunt ad esse ut id culpa. Cillum aliquip
    qui occaecat nulla laboris labore nulla aute. Culpa proident quis amet ea
    fugiat adipisicing anim laboris reprehenderit magna excepteur ut. Quis
    ullamco elit ex tempor quis est voluptate cillum cillum veniam ex id ullamco
    qui.
  </p>
</div>
<div class="services-product m-xy">
  <div>
    <h3 class="header-left-m-0 color-yellow">Our Services</h3>
    <p class="m-y">
      Magna sint tempor laborum pariatur aliquip excepteur cillum. Et laboris
      ullamco ad cupidatat voluptate enim ullamco. Aute amet tempor occaecat
      velit. Adipisicing exercitation nisi anim sunt aute commodo consequat eu
      ad proident est ullamco ut incididunt. Voluptate aliqua exercitation
      aliqua qui irure velit cupidatat ipsum dolor magna ipsum laborum labore
      laborum.
    </p>
  </div>
  <div>
    <h3 class="header-left-m-0 color-yellow">Our Product</h3>
    <p class="m-y">
      Sunt non aliqua officia eu minim exercitation anim reprehenderit laboris
      deserunt irure Lorem do. In cillum proident ut eu. Deserunt eiusmod
      cupidatat ipsum exercitation Lorem. Deserunt amet in labore eu officia
      culpa laboris elit ea cupidatat anim cupidatat tempor.
    </p>
  </div>
</div>
<h3 class="header-left color-yellow">Our Leaders</h3>
<div class="leaders m-xy">
    <div>
        <img src="assets/images/leader/leader1.jpg" alt="person">
        <b>Creative Head</b>
        <p>Peaterson Jack</p>
    </div>
    <div>
        <img src="assets/images/leader/leader2.jpg" alt="person">
        <b>Media Head</b>
        <p>Jocokson Marley</p>
    </div>
    <div>
        <img src="assets/images/leader/leader3.jpg" alt="person">
        <b>Design Consultant</b>
        <p>Akon</p>
    </div>
    <div>
        <img src="assets/images/leader/leader4.jpg" alt="person">
        <b>Marketing Manager</b>
        <p>Shruthi Kumari</p>

    </div>   
</div>
